services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres           
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai_backend
    restart: always
    depends_on:
      - postgres
    environment:
      SECRET_KEY: ------------- provide secret key
      ACCESS_TOKEN_EXPIRE_MINUTES: 1440
      ADMIN_USERNAME: email@gmail.com
      ADMIN_PASSWORD: password
      GROQ_API_KEY: ${GROQ_API_KEY}
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres                
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres                
      POSTGRES_PORT: 5432                    
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend

volumes:
  pgdata:

